<div class="flex flex-row space-x-2">
    <a href="https://twitter.com/aurelienguelle" target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
    </a>
    <a href="https://discord.com/channels/aurelienguelle" target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="['fab', 'discord']"></fa-icon>
    </a>
    <a href="https://github.com/aguelle" target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="['fab', 'github']" alt="git"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/aurelienguelle/" target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
    </a>
  </div>