<div class="flex flex-col items-center space-y-4 mt-6">
  <div class="flex items-end space-x-2">
    <fa-icon [icon]="['fas', 'phone']" class="text-gray-600"></fa-icon>
    <a href="tel:0640400920" class="text-lg font-semibold">06 40 40 09 20</a>
  </div>
  <div class="flex items-end space-x-2">
    <fa-icon [icon]="['fas', 'envelope']" class="text-black dark:text-gray-50 "></fa-icon>
    <a href="mailto:aurelien.guelle@gmail.com" class="text-lg font-semibold">aurelien.guelle&#64;gmail.com</a>
  </div>

<div class="flex flex-row space-x-2">
    <a href="https://twitter.com/aurelienguelle" target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
    </a>
    <a href="https://discord.com/channels/aurelienguelle" target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="['fab', 'discord']"></fa-icon>
    </a>
    <a href="https://github.com/aguelle" target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="['fab', 'github']" alt="git"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/aurelienguelle/" target="_blank" rel="noopener noreferrer">
      <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
    </a>
  </div>