/* Masque la barre de défilement */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari et Opera */
}

.hide-scrollbar {
    -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
    scrollbar-width: none; /* Pour Firefox */
}
