<div class="
flex 
  flex-col 
  items-center 
  justify-center 
  min-h-screen bg-gray-50 my-28">
    <button (click)="logout()" class="bg-black text-white text-xs mx-2 my-4 self-end rounded-full p-2 ">
        Se déconnecter
    </button>
    <h2 class=" text-3xl
    text-center 
    font-bold 
    text-black 
    dark:text-gray-50 
    px-4 py-4 uppercase">Bienvenue sur la page Admin</h2>
    <div class="grid grid-cols-1 gap-6">
        <app-experience-form (experienceAdded)="onExperienceAdded()"></app-experience-form>
        <app-realisation-form (realisationAdded)="onRealisationAdded()"></app-realisation-form>
        <app-music-form (musicAdded)="onMusicAdded()"></app-music-form>

    </div>