<!-- app-nav.component.html -->
<nav class="bg-gray-200  dark:bg-gray-800 p-4 rounded-lg shadow-md w-full">
    <ul class="flex flex-col space-y-2">
      <li>
        <a routerLink="/admin/experience-form" routerLinkActive="active"
           class="flex items-center p-3 rounded-md text-gray-700 dark:text-gray-300 hover:bg-gray-300 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white transition-colors duration-200">
          <i class="fas fa-briefcase mr-1"></i>Expériences
        </a>
      </li>
      <li>
        <a routerLink="/admin/realisation-form" routerLinkActive="active"
           class="flex items-center p-3 rounded-md text-gray-700 dark:text-gray-300 hover:bg-gray-300 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white transition-colors duration-200">
          <i class="fas fa-trophy mr-1"></i>Réalisations
        </a>
      </li>
      <li>
        <a routerLink="/admin/music-form" routerLinkActive="active"
           class="flex items-center p-3 rounded-md text-gray-700 dark:text-gray-300 hover:bg-gray-300 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white transition-colors duration-200">
          <i class="fas fa-music mr-1"></i> Musique
        </a>
      </li>
      <li>
        <a routerLink="/admin/diplome" routerLinkActive="active"
           class="flex items-center p-3 rounded-md text-gray-700 dark:text-gray-300 hover:bg-gray-300 dark:hover:bg-gray-700 hover:text-gray-900 dark:hover:text-white transition-colors duration-200">
           <i class="fas fa-graduation-cap mr-1"></i>diplômes
        </a>
      </li>
    </ul>
  </nav>