<div class="border bg-gray-200  dark:bg-gray-800 p-4 rounded-lg shadow-md h-full w-full">

    <h3>Liste des morceaux</h3>
  <ul>
    <li *ngFor="let track of (tracks$ | async)" class="flex flex-row space-x-2">
      {{ track.title }} - {{ track.artist }}
      <img *ngIf="track.albumArt" [src]="track.albumArt" alt="Album Art" width="50">
      <div class="space-x-1">
        <button class="font-bold text-blue-600 hover:underline" (click)="editTrack(track)">Éditer</button>
        <button class="font-bold text-red-600 hover:underline"(click)="deleteTrack(track.id)">Supprimer</button>
    </div>
    </li>
  </ul>


    <form [formGroup]="trackForm" (ngSubmit)="addTrack()" class="border space-y-4 flex flex-col">
        <h3 class="text-center text-xl font-bold">Ajouter un morceau</h3>

        <div class="flex justify-between items-center">
            <label class="mr-4 w-32 text-left" for="artist">Artiste :</label>
            <input class="w-full rounded text-left dark:text-black" id="artist" formControlName="artist">
        </div>

        <div class="flex justify-between items-center">
            <label class="mr-4 w-32 text-left" for="title">Titre :</label>
            <input class="w-full rounded text-left dark:text-black" id="title" formControlName="title">
        </div>

        <div class="flex justify-between items-center">
            <label class="mr-4 w-32 text-left" for="albumArt">Visuel (JPEG) :</label>
            <input type="file" accept="image/jpeg" (change)="onFileSelected($event, 'albumArt')"
                class="w-full rounded dark:text-black" />
        </div>

        <div class="flex justify-between items-center">
            <label class="mr-4 w-32 text-left" for="url">Fichier MP3 :</label>
            <input type="file" accept="audio" (change)="onFileSelected($event, 'url')"
                class="w-full rounded dark:text-black" />
        </div>

        <button
            class="bg-blue-500 dark:bg-blue-700 hover:bg-blue-700 dark:hover:bg-blue-900 text-white font-bold py-2 px-4 rounded-full shadow-lg"
            type="submit" [disabled]="trackForm.invalid">
            Ajouter
        </button>
    </form>
</div>