<div class="py-10 w-full my-14">
    <h2 class="text-center text-3xl font-bold px-4">Quelques-unes de mes réalisations 👨🏻‍💻</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-10">

        <div class="bg-white dark:bg-gray-700 shadow-md p-6 m-4 lg:m-10 rounded-lg hover:scale-105 transition-transform duration-300">
            <a href="https://francebabatiment.fr" target="_blank" rel="noopener noreferrer">
                <h3 class="text-xl font-semibold dark:text-white">France Ba Batiment</h3>
            </a>
            <div class="h-40 my-4">
                <img src="assets/francebabatiment.jpg" alt="Site web France Ba Batiment" class="h-full rounded">
            </div>
            <p class="mt-2 text-gray-700 dark:text-gray-300">Projet one page from scratch en HTML, Tailwind CSS et un peu de JavaScript. Un artisan cherchant à développer son image, un site vitrine simple où l'on peut découvrir ses services de maçonnerie et ses dernières réalisations.</p>
        </div>

        <div class="bg-white dark:bg-gray-700 shadow-md p-6 m-4 lg:m-10 rounded-lg hover:scale-105 transition-transform duration-300">
            <h3 class="text-xl font-semibold dark:text-white">Aurélien Guelle</h3>
            <div class="h-40 my-4">
                <img src="assets/avatar.png" alt="Logo de mon projet personnel" class="h-full rounded">
            </div>
            <p class="mt-2 text-gray-700 dark:text-gray-300">Projet perso réalisé avec Angular, Tailwind CSS, hébergé sur Firebase. Vous êtes ici.</p>
        </div>

        <div class="bg-white dark:bg-gray-700 shadow-md p-6 m-4 lg:m-10 rounded-lg hover:scale-105 transition-transform duration-300">
            <h3 class="text-xl font-semibold dark:text-white">Votre projet</h3>
            <p class="mt-2 text-gray-700 dark:text-gray-300">Confiez-moi un projet et j'en parlerai ici !</p>
        </div>

    </div>
</div>
