<div class="border bg-gray-200 dark:bg-gray-800 p-4 rounded-lg shadow-md h-full w-full">
    <h3 class="font-bold">Liste des diplômes</h3>
    <ul>
      <li *ngFor="let diplome of diplomes" class="flex flex-row space-x-2">
        <span>{{ diplome.nom }}</span> <span>à</span> <span>{{ diplome.ecole }}</span>
        <div class="space-x-1">
          <button class="font-bold text-blue-600 hover:underline" (click)="editDiplome(diplome)" aria-label="Éditer ce diplôme">Éditer</button>
          <button class="font-bold text-red-600 hover:underline" (click)="deleteDiplome(diplome.id)" *ngIf="diplome.id">Supprimer</button>
        </div>
      </li>
    </ul>
  
    <form [formGroup]="diplomeForm" (ngSubmit)="addDiplome()" class="border space-y-4 my-4 flex flex-col">
      <label class="mr-4 w-32 text-left">Nom:</label>
      <input class="w-full rounded text-left dark:text-black" formControlName="nom" />
  
      <label class="mr-4 w-32 text-left">École:</label>
      <input class="w-full rounded text-left dark:text-black" formControlName="ecole" />
  
      <label class="mr-4 w-32 text-left">Lieu:</label>
      <input class="w-full rounded text-left dark:text-black" formControlName="lieu" />
  
      <label class="mr-4 w-32 text-left">Date:</label>
      <input class="w-full rounded text-left dark:text-black" type="date" formControlName="date" />
  
      <label class="mr-4 w-32 text-left">Compétences (séparées par des virgules):</label>
      <input class="w-full rounded text-left dark:text-black" formControlName="competences" />
  
      <label class="mr-4 w-32 text-left">Site Web:</label>
      <input class="w-full rounded text-left dark:text-black" formControlName="siteWeb" />
  
      <button
        class="bg-blue-500 dark:bg-blue-700 hover:bg-blue-700 dark:hover:bg-blue-900 text-white font-bold py-2 px-4 rounded-full shadow-lg border border-blue-500 dark:border-blue-700 transform transition-transform duration-300 ease-in-out hover:scale-105"
        type="submit">{{ editingDiplomeId ? 'Modifier' : 'Ajouter' }} le diplôme</button>
    </form>
  </div>
  