<div class=" my-24 lg:my-32  flex flex-col items-center"> <!-- Centrer les éléments avec items-center -->

  <div class="text-center">
    <img src="./assets/avatar.png" alt="Photo de profil d'Aurélien Guelle" class="w-40 h-40 rounded-full mx-auto"> <!-- Image centrée et alt amélioré -->
  </div>

  
  <h2 class="text-3xl text-center font-bold text-black dark:text-gray-50">Bienvenue</h2>
  <span class="animate-shake text-3xl text-center">👋🏻</span>

  <p class="text-xl text-center px-5 py-10">Je suis Aurélien Guelle, développeur web et web mobile</p> <!-- Ajustement de px -->

  <!-- Premier bouton (Contact) -->
  <div class="flex justify-center mb-4"> <!-- Ajout d'une marge inférieure -->
    <a routerLink="/contact" aria-label="Aller à la section contact"
      class="bg-blue-500 dark:bg-blue-700 hover:bg-blue-700 dark:hover:bg-blue-900 text-white font-bold py-2 px-4 rounded-full shadow-lg border border-blue-500 dark:border-blue-700 transform transition-transform duration-300 ease-in-out hover:scale-105"
      >
      Contactez-moi
    </a>
  </div>



  <div class="text-center py-10">
    <p class="text-lg text-gray-700 dark:text-gray-50 px-5"> <!-- Ajustement de px -->
      Passionné de développement web et mobile, je réalise des projets innovants avec les dernières technologies.
      Découvrez mes réalisations, mon parcours et mes compétences.
    </p>
  </div>

  <!-- Deuxième bouton (Télécharger le CV) -->
  <div class="flex justify-center">
    <a href="assets/cvaurelienguelle.pdf" download="CV_Aurelien_Guelle.pdf"
      class="bg-blue-500 dark:bg-blue-700 hover:bg-blue-700 dark:hover:bg-blue-900 text-white font-bold py-2 px-4 rounded-full shadow-lg border border-blue-500 dark:border-blue-700 transform transition-transform duration-300 ease-in-out hover:scale-105"
      aria-label="Télécharger le CV d'Aurélien Guelle">
      Télécharger mon CV
    </a>
  </div>

</div>
