<div class="border bg-gray-200  dark:bg-gray-800 p-4 rounded-lg shadow-md w-full">
    <h3 class="font-bold">Liste des expériences</h3>
    <ul>
        <li *ngFor="let experience of experiences" class="flex flex-row space-x-2">
            <span>{{ experience.poste }}</span> <span>à</span> <span>{{ experience.entreprise }}</span>
            <div class="space-x-1">
                <button class="font-bold text-blue-600 hover:underline" (click)="editExperience(experience)" aria-label="Éditer cette expérience">Éditer</button>
                <button class="font-bold text-red-600 hover:underline" (click)="deleteExperience(experience.id)" *ngIf="experience.id">Supprimer</button>
            </div>
        </li>
    </ul>

    <form [formGroup]="articleForm" (ngSubmit)="addExperience()" class="border space-y-4 my-4 flex flex-col">
        <label class="mr-4 w-32 text-left">Entreprise:</label>
        <input class="w-full rounded text-left dark:text-black" formControlName="entreprise" />
        
        <label class="mr-4 w-32 text-left">Lieu:</label>
        <input class="w-full rounded text-left dark:text-black" formControlName="lieu" />
        
        <label class="mr-4 w-32 text-left">Poste:</label>
        <input class="w-full rounded text-left dark:text-black" formControlName="poste" />
        
        <label class="mr-4 w-32 text-left">Date de début:</label>
        <input class="w-full rounded text-left dark:text-black" type="date" formControlName="dateDebut" />
        
        <label class="mr-4 w-32 text-left">Missions (séparées par des virgules):</label>
        <input class="w-full rounded text-left dark:text-black" formControlName="missions" />
        
        <button
            class="bg-blue-500 dark:bg-blue-700 hover:bg-blue-700 dark:hover:bg-blue-900 text-white font-bold py-2 px-4 rounded-full shadow-lg border border-blue-500 dark:border-blue-700 transform transition-transform duration-300 ease-in-out hover:scale-105"
            type="submit">{{ editingExperienceId ? 'Modifier' : 'Ajouter' }} l'expérience</button>
    </form>
</div>
